:root {
    --text-big: max(1.4vw, 20px);
    --text-light-big: max(.8vw, 16px);
    --color-bg-dark: #0B0C10;
    --color-bg-dark2: #090a0e;
    --color-bg-mid-dark: #13181f;
    --color-bg-lite-dark: #1F2833;
    --color-bg-high-light: #45a29e;
}

.CSSBase-TextBig {
    font-size: var(--text-big);
}

.CSSBase-TextLightBig {
    font-size: var(--text-light-big);
}

/* region Color */
.CSSBase-ColorBgDark { background-color: var(--color-bg-dark); }

.CSSBase-ColorBgDark2 { background-color: var(--color-bg-dark2); }

.CSSBase-ColorBgMidDark { background-color: var(--color-bg-mid-dark); }

.CSSBase-ColorBgLiteDark { background-color: var(--color-bg-lite-dark); }

.CSSBase-ColorBgHighlight { background-color: var(--color-bg-high-light); }


.CSSBase-ColorDark { color: var(--color-bg-dark); }

.CSSBase-ColorDark2 { color: var(--color-bg-dark2); }

.CSSBase-ColorMidDark { color: var(--color-bg-mid-dark); }

.CSSBase-ColorLiteDark { color: var(--color-bg-lite-dark); }

.CSSBase-ColorHighlight { color: var(--color-bg-high-light); }
/* endregion */

.CSSBase-MidMargin {
    margin: 0px auto;
}


.CSSBase-BackgroundHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.CSSBase-TextHigh {
    color: #66FCF1;
}

.CSSBase-TextNormal {
    color: #C5C6C7;
    font-size: 14px;
}


